<section class="content">
	<section class="section advantages">
		<div class="container">
			<div class="row">
				<div class="col-lg-12">
					<h2>Наши преимущества</h2>
				</div>
			</div>
			<div class="row">
				<div class="col-lg-4 col-md-4 col-sm-12">
					<div class="advantages__item_order">
						<h4>Вы оставляете заказ</h4>
					</div>
				</div>
				<div class="col-lg-4 col-md-4 col-sm-12">
					<div class="advantages__item_go">
						<h4>Приезжает консультант и забирает ваши вещи</h4>
					</div>
				</div>
				<div class="col-lg-4 col-md-4 col-sm-12">
					<div class="advantages__item_delivery">
						<h4>Чистые вещи доставляем вам домой</h4>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-lg-12 center">
					<div class="btn_wrap">
						<a href="#form" type="button" class="btn popup">Заказать</a>
						<div class="cost">
							<img src="../img/visa-mastercard.png" width="115" height="41" alt="cost">
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>

	<section class="section news">
		<div class="container-fluid">
			<div class="row">
				<div class="col-lg-12 paddings">
					<h2>Наши новости</h2>
					<div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
						<!-- Indicators -->
						<ol class="carousel-indicators">
							<li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
							<li data-target="#carousel-example-generic" data-slide-to="1"></li>
							<li data-target="#carousel-example-generic" data-slide-to="2"></li>
						</ol>

						<!-- Wrapper for slides -->
						<div class="carousel-inner">
							<div class="item active">
								<h3 class="header_carousel">Уютные салоны химчистки <br>рядом с вами</h3>
								<img src="../img/slider1.jpg" alt="slider1">
							</div>
							<div class="item">
								<h3 class="header_carousel">Lorem ipsum dolor sit amet, <br>consectetur adipisicing elit</h3>
								<img src="../img/slider1.jpg" alt="slider2">
							</div>
							<div class="item">
								<h3 class="header_carousel">At facere facilis maiores <br> nihil unde vero.</h3>
								<img src="../img/slider1.jpg" alt="slider3">
							</div>
						</div>

						<!-- Controls -->
						<a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
							<span class="glyphicon glyphicon-chevron-left"></span>
						</a>
						<a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
							<span class="glyphicon glyphicon-chevron-right"></span>
						</a>
					</div> <!-- Carousel -->
				</div>
			</div>
		</div>
	</section>

	<section class="section price">
		<div class="container">
			<div class="row">
				<div class="col-lg-10 col-lg-offset-1 col-md-12 col-sm-12 col-xs-12">
					<h2>Наши цены</h2>
					<div class="row">
						<div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 text-center">
							<div class="price__item shirt">
								<a href="price.html"><img src="../img/shirt.png" alt="img_shirt"></a>
								<a href="price.html"><h4 class="price__item_h4">Стирка<br>
									рубашки
								</h4></a>
								<span>от 350 <span class="rubl">a</span></span>
							</div>
						</div>
						<div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 text-center">
							<div class="price__item costume">
								<a href="price.html"><img src="../img/costume.png" alt="img_costume"></a>
								<a href="price.html"><h4 class="price__item_h4">Химчистка<br>
									костюма
								</h4></a>
								<span>от 1300 <span class="rubl">a</span></span>
							</div>
						</div>
						<div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 text-center">
							<div class="price__item dress">
								<a href="price.html"><img src="../img/dress.png" alt="img_dress"></a>
								<a href="price.html"><h4 class="price__item_h4">Химчистка<br>
									платья
								</h4></a>
								<span>от 900 <span class="rubl">a</span></span>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-lg-6 col-lg-offset-3 col-md-6 col-md-offset-3 col-sm-5 col-sm-offset-3 col-xs-6 col-xs-offset-3 text-center">
							<a href="#form" type="button" class="btn_order popup">Расчитать заказ</a>
						</div>
						<div class="col-lg-3 col-lg-offset-0 col-md-3 col-md-offset-0 col-sm-4 col-sm-offset-0 col-xs-6 col-xs-offset-3">
							<div class="delivery">
								<div class="row">
									<div class="col-lg-3 col-md-3 col-sm-4 col-xs-3">
										<img src="../img/delivery_222.png" width="46" height="33" alt="img_delivery">
									</div>
									<div class="col-lg-9 col-md-9 col-sm-8 col-xs-9">
										<p>Доставка <span>290 <span class="rubl_g">a</span></span><br>
											от <span>1900 <span class="rubl_g">a</span></span>   - бесплатно</p>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>

	<section class="section guarantee">
		<div class="container">
			<div class="row">
				<div class="col-lg-6 col-md-5 col-sm-6 col-xs-4"></div>
				<div class="col-lg-6 col-md-7 col-sm-6 col-xs-8">
					<h1>Заберем и доставим ваши вещи
						прямо домой или ждем вас
						в наших <a href="/contacty.html">салонах</a></h1>
				</div>
			</div>
		</div>
	</section>

	<section class="section work">
		<div class="container">
			<div class="row">
				<div class="col-lg-12 text-center">
					<h2>Как мы работаем</h2>
				</div>
			</div>
			<div class="row">
				<div class="col-lg-3 col-md-3 col-sm-3 col-xs-6 center">
					<div class="work__item_eco">
						<a href="work.html"><img src="../img/eko.png" width="89" height="75" alt="eco" class="tooltip little_img" title="Для стирки и чистки мы используем экологичные средства"></a>
						<a href="work.html"><h5>Экологичность</h5></a>
					</div>
				</div>
				<div class="col-lg-3 col-md-3 col-sm-3 col-xs-6 center">
					<div class="work__item_deliver">
						<a href="work.html"><img src="../img/delivery.png" width="125" height="75" alt="car" class="tooltip little_img" title="Мы заберем у вас вещи и доставим после стирки"></a>
						<a href="work.html"><h5>Доставка</h5></a>
					</div>
				</div>
				<div class="col-lg-3 col-md-3 col-sm-3 col-xs-6 center">
					<div class="work__item_sew">
						<a href="work.html"><img src="../img/sew.png" width="75" height="75" alt="time" class="tooltip little_img" title="Будьте идеальны. Наша швея может подогнать одежду по фигуре."></a>
						<a href="work.html"><h5>Ателье у вас дома</h5></a>
					</div>
				</div>
				<div class="col-lg-3 col-md-3 col-sm-3 col-xs-6 center">
					<div class="work__item_grt">
						<a href="work.html"><img src="../img/guarantee.png" width="55" height="75" alt="grt" class="tooltip little_img" title="Мы бережем ваши вещи и ваше время. Всегда."></a>
						<a href="work.html"><h5>Гарантия
							качества</h5></a>
					</div>
				</div>
			</div>
		</div>
	</section>

	<section class="section map">
		<div class="container">
			<div class="row">
				<div class="col-lg-12">
					<h2>Наши салоны</h2>
					<div class="map__block">
						<script type="text/javascript" charset="utf-8" src="https://api-maps.yandex.ru/services/constructor/1.0/js/?sid=JI6xUwGSEJaek4Esr7TLOIWuuqND3_eQ&width=100%&height=480&lang=ru_UA&sourceType=constructor"></script>
					</div>
				</div>
			</div>
		</div>
		<div class="container">
			<div class="row">
				<div class="col-lg-4 col-lg-offset-4">
					<div class="btn_wrap">
						<a href="#form" type="button" class="btn popup">Сделать заказ за 30 секунд</a>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-lg-2 col-lg-offset-5 col-md-2 col-md-offset-5 col-sm-2 col-sm-offset-5 col-xs-4 col-xs-offset-4">
					<div class="social__icons">
						<div class="social__icons_fb">
							<a href="https://www.facebook.com/delicato.su"><img src="../img/fb_icon.png" width="36" height="36" alt="fb_icon" ></a>
						</div>
						<div class="social__icons_in">
							<a href="https://www.instagram.com/delicato.su/"><img src="../img/Instagram-Icon.png" width="36" height="36" alt="in_icon"></a>
						</div>
					<!--	<div class="social__icons_vk">
							<a href="#"><img src="../img/vk_icon.png" width="36" height="36" alt="vk_icon"></a>
						</div>-->
					</div>
				</div>
			</div>
		</div>
	</section>
	<hr>
</section>