<section class="header">
	<div class="container-fluid">
		<div class="row">
			<div class="navbar navbar-default">
				<div class="container">
					<div class="row">
						<div class="col-lg-5 col-md-5 col-sm-5">
							<div class="navbar-header">
								<div class="row">
									<div class="col-lg-5 col-md-5 col-sm-5">
										<a href="/" class="navbar-brand"><img src="../img/logotype.png" width="163" height="44" alt="logo"></a>
										<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
											<span class="sr-only">Меню</span>
											<span class="icon-bar"></span>
											<span class="icon-bar"></span>
											<span class="icon-bar"></span>
										</button>
									</div>
									<div class="col-lg-7 col-md-7 col-sm-7">
										<div class="header-phone">
											<a href="tel:+74957550576">+7 (495) 755-05-76</a>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="col-lg-7 col-md-7 col-sm-7">
							<div class="navbar-collapse collapse" id="bs-example-navbar-collapse-1" aria-expanded="false">
								<ul class="nav navbar-nav">
									<li><a href="/faq.html">FAQ</a></li>
									<li><a href="/price.html">Цены</a></li>
									<li><a href="/work.html">Как мы работаем</a></li>
									<li><a href="/gift.html">Подарок</a></li>
									<li><a href="/contacty.html">Контакты</a></li>
									<li class="login"><a href="#form-login" type="button" class="log popup">Log in</a></li>
								</ul>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="container">
		<div class="row">
			<div class="col-lg-12 center">
				<div class="header-content">
					<h1>Сделать заказ online за 30 секунд</h1>
					<a href="#form" type="button" class="btn popup">Заказать</a>
				</div>
			</div>
		</div>
	</div>
</section>