<section class="header_gift">
	<div class="container-fluid">
		<div class="row">
			<div class="navbar">
				<div class="container">
					<div class="row">
						<div class="col-lg-5 col-md-5 col-sm-5">
							<div class="navbar-header">
								<div class="row">
									<div class="col-lg-5 col-md-5 col-sm-5">
										<a href="/" class="navbar-brand"><img src="../img/logotype_white.png" width="163" height="44" alt="logo"></a>
										<button type="button" data-toggle="collapse" data-target="#responsive_menu" aria-expanded="false" class="navbar-toggle">
											<span class="sr-only">Меню</span>
											<span class="icon-bar"></span>
											<span class="icon-bar"></span>
											<span class="icon-bar"></span>
										</button>
									</div>
									<div class="col-lg-7 col-md-7 col-sm-7">
										<div class="header-phone">
											<a href="tel:+74957550576">+7 (495) 755-05-76</a>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="col-lg-7 col-md-7 col-sm-7">
							<div id="responsive_menu" class="collapse navbar-collapse">
								<ul class="nav navbar-nav">
									<li><a href="/faq.html">FAQ</a></li>
									<li><a href="/price.html">Цены</a></li>
									<li><a href="/work.html">Как мы работаем</a></li>
									<li><a href="/gift.html">Подарок</a></li>
									<li><a href="/contacty.html">Контакты</a></li>
									<li class="login"><a href="#form-login" type="button" class="log popup">Log in</a></li>
								</ul>
							</div>
						</div>
						<div class="registration"></div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="container">
		<div class="row">
			<div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
				<h3>Сертификат Delicato<br> для тех, кто вам дорог</h3>
				<p class="text_slogan">Самым близким всегда хочется подарить что-то особенное: не материальное, но наполненное ощущением уюта и тепла. Delicato знает, чем можно одновременно удивить и проявить настоящую заботу. Все что нужно - заполнить форму ниже, выбрать номинал и заказать доставку. Остальное мы сделаем за вас</p>
			</div>
		</div>
	</div>
</section>