/* font-family: "Exo2Regular"; */
@font-face {
  font-family: "Exo2Regular";
  src: url("../../fonts/Exo2/Exo2Regular/Exo2Regular.eot");
  src: url("../../fonts/Exo2/Exo2Regular/Exo2Regular.eot?#iefix")format("embedded-opentype"),
  url("../../fonts/Exo2/Exo2Regular/Exo2Regular.woff") format("woff"),
  url("../../fonts/Exo2/Exo2Regular/Exo2Regular.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}


/* font-family: "Exo2Bold"; */
@font-face{
  font-family: "Exo2Bold";
  src: url('../../fonts/Exo2/Exo2Bold/Exo2Bold.eot');
  src: url('../../fonts/Exo2/Exo2Bold/Exo2Bold.eot?#iefix')format('embedded-opentype'),
  url('../../fonts/Exo2/Exo2Bold/Exo2Bold.woff') format('woff'),
  url('../../fonts/Exo2/Exo2Bold/Exo2Bold.ttf') format('truetype');
  font-style: normal;
  font-weight: normal;
}


/* font-family: "Exo2Light"; */
@font-face{
  font-family: "Exo2Light";
  src: url("../../fonts/Exo2/Exo2Light/Exo2Light.eot");
  src: url("../../fonts/Exo2/Exo2Light/Exo2Light.eot?#iefix")format("embedded-opentype"),
  url("../../fonts/Exo2/Exo2Light/Exo2Light.woff") format("woff"),
  url("../../fonts/Exo2/Exo2Light/Exo2Light.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}

/* font-family: "Exo2Medium"; */
@font-face{
  font-family: "Exo2Medium";
  src: url("../../fonts/Exo2/Exo2Medium/Exo2Medium.eot");
  src: url("../../fonts/Exo2/Exo2Medium/Exo2Medium.eot?#iefix")format("embedded-opentype"),
  url("../../fonts/Exo2/Exo2Medium/Exo2Medium.woff") format("woff"),
  url("../../fonts/Exo2/Exo2Medium/Exo2Medium.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}

/* font-family: "PlayRegular"; */
@font-face{
  font-family: "PlayRegular";
  src: url("../../fonts/Play/PlayRegular/PlayRegular.eot");
  src: url("../../fonts/Play/PlayRegular/PlayRegular.eot?#iefix")format("embedded-opentype"),
  url("../../fonts/Play/PlayRegular/PlayRegular.woff") format("woff"),
  url("../../fonts/Play/PlayRegular/PlayRegular.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}

/* font-family: "PlayBold"; */
@font-face{
  font-family: "PlayBold";
  src: url("../../fonts/Play/PlayBold/PlayBold.eot");
  src: url("../../fonts/Play/PlayBold/PlayBold.eot?#iefix")format("embedded-opentype"),
  url("../../fonts/Play/PlayBold/PlayBold.woff") format("woff"),
  url("../../fonts/Play/PlayBold/PlayBold.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}

/* font-family: "PTSansRegular"; */
@font-face{
  font-family: "PTSansRegular";
  src: url("../../fonts/PTSans/PTSansRegular.eot");
  src: url("../../fonts/PTSans/PTSansRegular.eot?#iefix")format("embedded-opentype"),
  url("../../fonts/PTSans/PTSansRegular.woff") format("woff"),
  url("../../fonts/PTSans/PTSansRegular.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}

/* font-family: "MinionPro"; */
@font-face {
  font-family: "MinionPro";
  src: url("../../fonts/MinionPro/MinionPro-Regular.eot");
  src: url("../../fonts/MinionPro/MinionPro-Regular.eot?#iefix")format("embedded-opentype"),
  url("../../fonts/MinionPro/MinionPro-Regular.woff") format("woff"),
  url("../../fonts/MinionPro/MinionPro-Regular.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}

@font-face {
    font-family: 'als_rublregular';
    src: url('../../fonts/rouble/rouble-webfont.eot');
    src: url('../../fonts/rouble/rouble-webfont.eot?#iefix') format('embedded-opentype'),
         url('../../fonts/rouble/rouble-webfont.woff') format('woff'),
         url('../../fonts/rouble/rouble-webfont.ttf') format('truetype'),
         url('../../fonts/rouble/rouble-webfont.svg#als_rublregular') format('svg');
    font-weight: normal;
    font-style: normal;

}
