.footer{

  ul{
	list-style: none;
	margin-top: 20px;

	li{
	  display: inline-block;
	  margin-right: 15px;

	  a{
		font-family: PlayRegular, sans-serif;
		color: $select-text-color;
		font-size: $font-size-other;
		text-align: center;
		@extend .menu-style;

		&:hover{
		  text-decoration: underline;
		}
	  }
	}
  }
  p{
	text-align: center;
	font-family: PlayRegular, sans-serif;
	color: $select-text-color;
	font-size: $font-size-small;
	font-weight: 400;
	line-height: 60px;
	cursor: pointer;
	margin-bottom: 50px;
  }
}