
@media (min-width: 320px) {
  .header {
	height: 320px;

	.navbar-default {

	  .navbar-header {
		margin-bottom: -4px;

		.navbar-brand{
		  margin-bottom: 7px;
		  margin-top: -8px;
		}

		.header-phone {
		  float: left;
		  margin: 4px 35px 7px 15px;

		  a {
			font-size: $font-size-menu;
			line-height: 20px;
		  }
		}
		.navbar-toggle {
		  background-color: transparent;
		  margin-top: 16px;
		  z-index: 1000;
		}
	  }

	  .collapse, .collapsing {
		background-color: white;
		opacity: .95;
		margin: 0 -16px;

		ul {

		  li{
			margin-bottom: 10px;
		  }
		}

	  }

	  .navbar-collapse {

		ul.navbar-nav {
		  margin-left: 0;

		  li {
			margin-left: 0;

			a {
			  font-size: $font-size-other;
			}
		  }
		}
	  }
	}
	.navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover {
	  background-color: transparent;
	}
	.sticky .navbar-default {
	  height: 78px;
	}
	.header-content{
	  position: relative;
	  width: 100%;
	  padding: 30px 15px;
	  text-align: center;

	  h1 {
		font-family: "Exo2Regular", sans-serif;
		padding-bottom: 15px;
	  }

	  .btn, .btn:visited {
		padding: 7px 14px;
		font-size: 17px;
		margin-bottom: 20px;
	  }

	}
  }

  .header_new {
	height: auto;

	.navbar-default {
	  height: auto;

	  .navbar-header {

		.navbar-brand{
		  margin-bottom: 7px;
		  margin-top: -5px;
		}

		.header-phone {
		  float: left;
		  margin-top: 4px;
		  margin-left: 15px;
		  margin-right: 35px;

		  a {
			font-size: $font-size-menu;
		  }
		}
		.navbar-toggle {
		  background-color: transparent;
		  margin-top: 16px;
		  z-index: 1000;

		  .icon-bar {
			background-color: $select-heading-color;
		  }
		}
	  }

	  .collapse, .collapsing  {
		background-color: white;
		opacity: .95;
		margin: 0 -15px;

		ul {
		  margin-bottom: 0;

		  li{
			margin-bottom: 5px;
		  }
		}

	  }
	  .navbar-collapse {

		ul.navbar-nav {
		  margin-left: 0;

		  li {
			margin-left: 0;

			a {
			  font-size: $font-size-other;
			}
		  }
		}
	  }
	}
	.navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover {
	  background-color: transparent;
	}
	.sticky .navbar-default {
	  height: 78px;
	}
	hr {
	  margin-top: 10px;
	  margin-bottom: 20px;
	  border-top: 1px solid #eee;
	}
  }

  .header_gift {
	height: 500px;

	.navbar {
	  height: 78px;

	  .navbar-header {

		.navbar-brand{
		  margin-bottom: 7px;
		  margin-top: -5px;
		}

		.header-phone {
		  float: left;
		  margin-top: 4px;
		  margin-left: 15px;
		  margin-right: 35px;

		  a {
			font-size: $font-size-menu;
		  }
		}
		.navbar-toggle {
		  background-color: transparent;
		  margin-top: 16px;
		  z-index: 1000;

		  .icon-bar {
			background-color: $select-content-color;
		  }
		}
	  }

	  .collapse, .collapsing  {
		background-color: white;
		opacity: .95;
		margin: 0 -15px;

		ul {
		  margin-bottom: 0;

		  li{
			margin-bottom: 5px;
		  }
		}

	  }
	  .navbar-collapse {

		ul.navbar-nav {
		  margin-left: 0;

		  li {
			margin-left: 0;

			a {
			  font-size: $font-size-other;
			  color: $select-heading-color;
			}
		  }
		  li.login {

			a.log {
			  color: $select-heading-color;
			  border: 1px solid $select-heading-color;

			  &:hover {
				-webkit-transition: 0.75s;
				transition: 0.75s;
				background-color: $select-heading-color;
				color: $select-content-color;
			  }
			}
		  }
		}
	  }
	}
	.navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover {
	  background-color: transparent;
	}
	h3{
	  color: $select-content-color;
	  text-align: center;
	  margin-top: 0;
	  margin-bottom: 20px;
	  font-family: "Exo2Medium", sans-serif;
	  font-size: 22px;
	  font-weight: 500;
	  line-height: 28px;
	  text-transform: uppercase;
	}

	p.text_slogan{
	  font-family: "PlayRegular", sans-serif;
	  color: $select-content-color;
	  font-size: 14px;
	  margin-top: 10px;
	}

  }

  .content .advantages {

	h2 {
	  font-size: $font-size-h4;
	  line-height: 26px;
	  padding-bottom: 20px;
	  padding-top: 0;
	}

	.col-lg-4 .advantages__item_order, .col-lg-4 .advantages__item_go,
	.col-lg-4 .advantages__item_delivery {
	  height: 180px;
	  background-size: 100%;
	  margin: 0 auto;
	}

	.advantages__item_order h4 {
	  font-size: 20px;
	  text-align: center;
	  padding-top: 80px;
	  font-family: "PlayRegular", sans-serif;
	  color: $select-content-color;
	  font-weight: 400;
	  line-height: 20px;
	  padding-left: 10px;
	  padding-right: 10px;
	}
	.advantages__item_delivery h4 {
	  font-size: 20px;
	  text-align: center;
	  padding-top: 80px;
	  font-family: "PlayRegular", sans-serif;
	  color: $select-content-color;
	  font-weight: 400;
	  line-height: 20px;
	  padding-left: 10px;
	  padding-right: 10px;
	}
	.advantages__item_go h4 {
	  font-size: 20px;
	  text-align: center;
	  padding-top: 80px;
	  font-family: "PlayRegular", sans-serif;
	  color: $select-content-color;
	  font-weight: 400;
	  line-height: 20px;
	  padding-left: 10px;
	  padding-right: 10px;
	}
	.btn_wrap {
	  margin-top: 30px;

	  .btn, .btn:visited {
		padding: 7px 14px;
		font-size: 17px;
		margin-bottom: 20px;
	  }
	}


  }

  .content .news {
	background-color: #f1f1f1;
	padding-top: 20px;

	h2 {
	  font-size: $font-size-h4;
	  padding-bottom: 30px;
	}
	.carousel-indicators {
	  position: absolute;
	  bottom: 10px;
	  left: 50%;
	  z-index: 15;
	  width: 60%;
	  margin-left: -30%;
	  padding-left: 0;
	  list-style: none;
	  text-align: center;

	  li {
		display: inline-block;
		width:  12px;
		height: 13px;
		margin: 1px 5px;
		text-indent: -999px;
		background-image: url("../../img/point_small.png");
		background-repeat: no-repeat;
		cursor: pointer;
	  }
	  .active {
		margin: 1px 5px;
		width:  12px;
		height: 13px;
		background-image: url("../../img/point_active_small.png");
		background-repeat: no-repeat;
	  }
	}

	.carousel-inner{
	  position: relative;

	  .item{

		h3.header_carousel{
		  position: absolute;
		  top: 25px;
		  font-size: 16px;
		  line-height: 20px;
		  width: 100%;
		}

	  }

	}
  }

  .content .price {

	h2 {
	  font-size: $font-size-h4;
	  padding-bottom: 30px;
	}

	.btn_order {
	  font-size: 15px;
	  font-weight: 400;
	  line-height: 26px;
	  text-align: center;
	  border: 1px solid #2650b6;
	  border-radius: 6px;
	  padding: 10px 10px;
	  margin-top: 50px;
	  -webkit-transition: .75s;
	  transition: .75s;
	}

	.price__item a img {
	  width: 77px;
	  height: 120px;
	}

	.price__item {
	  margin-bottom: 30px;
	}

	.price__item a .price__item_h4, .price__item span {
	  font-size: 17px;
	}

	.delivery {
	  margin-top: 30px;

	  p {
		font-family: PlayRegular,sans-serif;
		color: #494a5f;
		font-size: 10px;
		margin-left: 9px;
		font-weight: 400;
		text-align: left;
		margin-top: -3px;
		line-height: 15px;
	  }
	  .rubl_g{
		font-size: 10px;
	  }
	}

  }

  .content .guarantee {
	height: 300px;
	margin-top: 40px;

	h1 {
	  text-align: right;
	  top: 65px;
	  right: 5px;
	}
  }

  .content .work {

	h2 {
	  font-size: $font-size-h4;
	  padding-bottom: 50px;
	  text-align: center;
	}
	.work__item_eco {

	  .little_img {
		width: 53px;
		height: 45px;
	  }

	  h5{
		font-size: $font-size-other;
	  }
	}
	.work__item_deliver {

	  .little_img {
		width: 75px;
		height: 45px;
	  }

	  h5{
		font-size: $font-size-other;
	  }
	}
	.work__item_sew {

	  .little_img {
		width: 45px;
		height: 45px;
	  }

	  h5{
		font-size: $font-size-other;
	  }
	}
	.work__item_grt{

	  .little_img {
		width: 33px;
		height: 45px;
	  }

	  h5 {
		font-size: $font-size-other;
	  }
	}
  }

  .content .map {

	h2{
	  font-size: $font-size-h4;
	  padding-bottom: 30px;
	  text-align: center;
	  text-transform: uppercase;
	}

	.map__block {
	  width: 90%;
	}
	.btn_wrap {

	  .btn {
		padding: 10px 10px;
		border: none;
		border-radius: 5px;
		background: #2650b6;
		outline: 0 !important;
		font-family: Exo2Regular, sans-serif;
		color: #fff;
		font-size: 17px;
		text-align: center;
		-webkit-transition: .75s;
		transition: .75s;
	  }
	}
  }

  section.work {
	.paddings {
	  padding-left: 0;
	  padding-right: 0;
	  margin-left: 0;
	  margin-right: 0;
	}

	.work__block_order {
	  background: url("../../img/work_item_delivery.jpg") no-repeat;
	  background-size: cover;
	  height: 230px;
	  width: 100%;
	}

	.work__block_eco {
	  background: url("../../img/work_item_eko.jpg") no-repeat;
	  background-size: cover;
	  height: 230px;
	  width: 100%;
	}

	.work__block_sew {
	  background: url("../../img/work_item_sew.jpg") no-repeat;
	  background-size: cover;
	  height: 230px;
	  width: 100%;
	}
	.work__block_garant{
	  background: url("../../img/work_item_reclean.jpg") no-repeat;
	  -webkit-background-size: cover;
	  background-size: cover;
	  height: 230px;
	  width: 100%;
	}

	.work__block_text{

	  h4#go, h4#garant{
		margin-left: 0;
	  }
	  p.eco, p.garant, p.sew, p.order{
		font-family: "PlayRegular", sans-serif;
		margin: 0 0 10px 0;
	  }
	}

	h4#go, h4#garant, h4#order, h4#sew {
	  padding-top: 0;
	  font-family: "PlayRegular", sans-serif;
	  margin-left: 0;
	}

	h3{
	  font-size: 22px;
	  margin-bottom: 30px;
	}

  }

  section.accordion{
	h3{
	  font-size: 22px;
	}

	a.accordion-toggle {
	  font-size: 13px;
	  color: #333;
	}

	.panel-body {
	  font-size: 12px;
	}
	h4 {
	  font-size: 15px;
	}
	.glyphicon {
	  margin-right: 13px;
	  font-size: 13px;
	  color: white;
	  display: block;
	  padding: 10px 12px;
	  background-color: $select-base-color;
	  top: -10px;
	  left: -14px;
	}
  }

  section.tabs {

	h3 {
	  font-size: 22px;
	  margin-bottom: 30px;
	}

	.nav-tabs>li.active>a, .nav-tabs>li.active>a:hover {
	  color: #555;
	  background-color: #eee;
	  border: transparent;
	  cursor: default;
	  border-radius: 3px;
	}

	.nav-tabs>li>a {
	  margin-right:0;
	  line-height: 0;
	  border: 0 solid transparent;
	  border-radius: 3px;
	}
	.nav-tabs>li {
	  margin: 10px 10px 10px 0;
	}

  }

}

@media (min-width: 480px) {

  .header {
	height: 420px;

	.navbar-default {


	  .navbar-header {
		margin-bottom: 15px;

		.navbar-brand{
		  margin-bottom: 0;
		  margin-top: 0;
		}

		.header-phone {
		  float: right;
		  margin-top:25px;
		  margin-left: 0;
		  margin-right: 15px;
		}

		.navbar-toggle{
		  margin-top: 18px;
		}

	  }

	  .collapse, .collapsing  {
		margin: 0 -16px;

		ul {

		  li{
			margin-bottom: 12px;
		  }
		}

	  }

	  .navbar-collapse {

		ul.navbar-nav {
		  margin-left: 0;

		  li {
			margin-left: 0;

			a {
			  font-size: $font-size-other;
			}
		  }
		}
	  }
	}

	.sticky .navbar-default {
	  height: 78px;
	}
	.header-content{
	  padding: 80px 15px;
	  h1 {
	  }
	}
  }

  .header_new {

	.navbar-default {


	  .navbar-header {

		.navbar-brand{
		  margin-bottom: 0;
		  margin-top: 0;
		}

		.header-phone {
		  float: right;
		  margin-top: 23px;
		  margin-left: 0;
		  margin-right: 15px;
		}
		.navbar-toggle{
		  margin-top: 18px;
		}
	  }

	  .collapse, .collapsing  {

		ul {

		  li{
			margin-bottom: 12px;
		  }
		}

	  }

	  .navbar-collapse {

		ul.navbar-nav {
		  margin-left: 0;

		  li {
			margin-left: 0;

			a {
			  font-size: $font-size-other;
			}
		  }
		}
	  }
	}
	hr {
	  margin-top: 0;
	  margin-bottom: 20px;
	  border-top: 1px solid #eee;
	}
	.sticky .navbar-default {
	  height: 78px;
	}

	h1 {
	  line-height: $font-size-h4;
	  padding-bottom: 25px;
	  padding-top: 25px;

	}
	.btn, .btn:visited {
	  padding: 7px 14px;
	  border-radius: 5px;
	  background: #2650b6;
	  outline: 0 !important;
	  position: relative;
	  font-family: Exo2Regular, sans-serif;
	  color: #fff;
	  font-size: 17px;
	  text-align: center;
	  margin-bottom: 20px;
	}
  }

  .header_gift {
	height: 550px;

	.navbar {

	  .navbar-header {

		.navbar-brand{
		  margin-bottom: 0;
		  margin-top: 0;
		}

		.header-phone {
		  float: right;
		  margin-top: 23px;
		  margin-left: 0;
		  margin-right: 15px;
		}
		.navbar-toggle{
		  margin-top: 18px;
		}
	  }

	  .collapse, .collapsing  {

		ul {

		  li{
			margin-bottom: 12px;
		  }
		}

	  }

	  .navbar-collapse {

		ul.navbar-nav {
		  margin-left: 0;

		  li {
			margin-left: 0;

			a {
			  font-size: $font-size-other;
			}
		  }
		}
	  }
	}
	h3{
	  color: $select-content-color;
	  text-align: center;
	  margin-top: 50px;
	  margin-bottom: 20px;
	  font-family: "Exo2Medium", sans-serif;
	  font-size: 24px;
	  font-weight: 500;
	  line-height: 26px;
	  text-transform: uppercase;
	}

	p.text_slogan{
	  font-family: "PlayRegular", sans-serif;
	  color: $select-content-color;
	  font-size: 15px;
	  margin-top: 10px;
	}

  }

  .content .advantages {

	h2 {
	  font-size: $font-size-h4;
	  line-height: 26px;
	  padding-bottom: 20px;
	  padding-top: 0;
	}

	.col-lg-4 .advantages__item_order, .col-lg-4 .advantages__item_go,
	.col-lg-4 .advantages__item_delivery {
	  height: 220px;

	}

	  .btn_wrap {
		margin-top: 30px;

		.btn, .btn:visited {
		  padding: 7px 14px;
		  font-size: 17px;
		  margin-bottom: 20px;
		}
	  }
  }

  .content .news {
	background-color: #f1f1f1;
	padding-top: 30px;

	h2 {
	  font-size: $font-size-h4;
	  padding-bottom: 30px;
	}


	.carousel-inner{
	  position: relative;

	  .item{

		h3.header_carousel{
		  position: absolute;
		  top: 50px;
		  font-size: 25px;
		  line-height: 25px;
		  width: 100%;
		}

	  }
	}
  }

  .content .price {

	.btn_order {
	  font-size: 17px;
	  padding: 10px 15px;
	}

	.price__item a .price__item_h4, .price__item span {
	  font-size: 19px;
	}

	.delivery {

	  p {
		font-size: 13px;
	  }

	  .rubl_g{
		font-family: 'als_rublregular', sans-serif;
		color: $select-text-color;
		font-size: $font-size-small;
	  }
	}

  }

  .content .guarantee {
	height: 300px;
	margin-top: 40px;

	h1 {
	  text-align: right;
	  top: 84px;
	  right: 20px;
	}
  }

  .content .work {

	h2 {
	  font-size: 25px;
	  padding-bottom: 50px;
	  text-align: center;
	}
	.work__item_eco {

	  .little_img {
		width: 53px;
		height: 45px;
	  }

	  h5{
		font-size: $font-size-other;
	  }
	}
	.work__item_deliver {

	  .little_img {
		width: 75px;
		height: 45px;
	  }

	  h5{
		font-size: $font-size-other;
	  }
	}
	.work__item_sew {

	  .little_img {
		width: 45px;
		height: 45px;
	  }

	  h5{
		font-size: $font-size-other;
	  }
	}
	.work__item_grt{

	  .little_img {
		width: 33px;
		height: 45px;
	  }

	  h5 {
		font-size: $font-size-other;
	  }
	}
  }

  .content .map {
	h2{
	  font-size: 25px;
	}
	.map__block {
	  width: 100%;
	}
  }

  section.work {

	.work__block_order {
	  background: url("../../img/work_item_delivery.jpg") no-repeat;
	  background-size: 100%;
	  height: 350px;
	  margin: 0 auto;
	}

	.work__block_eco {
	  background: url("../../img/work_item_eko.jpg") no-repeat;
	  background-size: 100%;
	  height: 350px;
	  margin: 0 auto;
	}

	.work__block_sew {
	  background: url("../../img/work_item_sew.jpg") no-repeat;
	  background-size: 100%;
	  height: 350px;
	  margin: 0 auto;
	}

	.work__block_garant{
	  background: url("../../img/work_item_reclean.jpg") no-repeat;
	  -webkit-background-size: 100%;
	  background-size: 100%;
	  height: 350px;
	  margin: 0 auto;
	}

	h3{
	  font-size: 24px;
	  margin-bottom: 30px;
	}
  }

  section.accordion{

	a.accordion-toggle {
	  font-size: 15px;
	  color: #333;
	}
	.panel-body {
	  font-size: 14px;
	}
	h4 {
	  font-size: 16px;
	}

	.glyphicon {
	  margin-right: 13px;
	  font-size: 15px;
	  color: white;
	  display: block;
	  padding: 10px 12px;
	  background-color: $select-base-color;
	  top: -10px;
	  left: -14px;
	}
	h3{
	  font-size: 24px;
	}

  }

  section.tabs {

	h3{
	  font-size: 24px;
	  margin-bottom: 30px;
	}

  }

}

@media (min-width: 768px) {
  .header {
	height: 545px;

	.navbar-default {

	  .navbar-header {

		.navbar-brand>img {
		  display: block;
		  width: 130px;
		  height: 35px;
		}

		.header-phone {
		  float: right;
		  margin-left: 0;
		  margin-right: 8px;

		  a {
			font-size: 15px;
			margin-left: 3px;
		  }
		}
	  }
	  .collapse {
		background-color: transparent;
		margin: 0;
		ul {

		  li{
			margin-bottom: 15px;
		  }
		}
	  }

	  .navbar-collapse {

		ul.navbar-nav {
		  margin-left: -20px;

		  li {
			margin-left: -24px;

			a {
			  font-size: $font-size-other;
			}
		  }
		  li.login {
			margin-left: -10px;
		  }
		}
	  }
	}
	.header-content{
	  padding: 135px 15px;

	  h1{
		font-family: Exo2Bold,sans-serif;
		padding-bottom: 30px;

	  }
	  .btn, .btn:visited {
		padding: 12px 30px;
		font-size: 22px;
	  }

	}
  }

  .header_new {

	.navbar-default {

	  .navbar-header {

		.navbar-brand>img {
		  display: block;
		  width: 130px;
		  height: 35px;
		}

		.header-phone {
		  float: right;
		  margin-left: 0;
		  margin-right: 8px;

		  a {
			font-size: 15px;
			margin-left: 3px;
		  }
		}
	  }
	  .collapse {
		background-color: transparent;
		margin: 0;
		ul {

		  li{
			margin-bottom: 15px;
		  }
		}
	  }

	  .navbar-collapse {

		ul.navbar-nav {
		  margin-left: -20px;

		  li {
			margin-left: -24px;

			a {
			  font-size: $font-size-other;
			}
		  }
		  li.login {
			margin-left: -10px;
		  }
		}
	  }
	}

	hr {
	  margin-top: 0;
	  margin-bottom: 20px;
	  border-top: 1px solid #eee;
	}

  }

  .header_gift {
	height: 600px;

	.navbar {
	  height: 78px;

	  .navbar-header {

		.navbar-brand>img {
		  display: block;
		  width: 130px;
		  height: 35px;
		}

		.header-phone {
		  float: right;
		  margin-left: 0;
		  margin-right: 8px;

		  a {
			font-size: 15px;
			margin-left: 3px;
		  }
		}
	  }
	  .collapse {
		background-color: transparent;
		margin: 0;
		ul {

		  li{
			margin-bottom: 15px;
		  }
		}
	  }

	  .navbar-collapse {

		ul.navbar-nav {
		  margin-left: -20px;

		  li {
			margin-left: -24px;

			a {
			  font-size: $font-size-other;
			  color: $select-content-color;
			}
		  }
		  li.login {
			margin-left: -10px;

			a.log {
			  color: $select-content-color;
			  border: 1px solid $select-content-color;

			  &:hover {
				-webkit-transition: 0.75s;
				transition: 0.75s;
				background-color: $select-content-color;
				color: $select-heading-color;
			  }
			}
		  }
		}
	  }
	}
	h3{
	  color: $select-content-color;
	  text-align: center;
	  margin-top: 25px;
	  margin-bottom: 40px;
	  font-family: "Exo2Medium", sans-serif;
	  font-size: 27px;
	  font-weight: 500;
	  line-height: 30px;
	  text-transform: uppercase;
	}

	p.text_slogan{
	  font-family: "PlayRegular", sans-serif;
	  color: $select-content-color;
	  font-size: 16px;
	  margin-top: 30px;
	}

  }

  .content .advantages {

	.col-lg-4 .advantages__item_order, .col-lg-4 .advantages__item_go,
	.col-lg-4 .advantages__item_delivery {
	  height: 280px;

	  h4 {
		font-size: $font-size-h4;
		line-height: 38px;
		padding-top: 120px;
	  }
	}
	.btn_wrap{

	  .btn, .btn:visited {
		padding: 12px 38px;
		font-size: 22px;
		margin-bottom: 20px;
	  }
	}

  }

  .content .guarantee {
	background: url("../../img/bg_content_768.png") no-repeat;
	height: 415px;
	background-size: 100%;
	background-position: center center;
	margin-top: 40px;

	h1 {
	  text-align: right;
	  top: 105px;
	}
  }

  .content .news {
	background-color: #f1f1f1;
	padding-top: 30px;

	.carousel-indicators {

	  li {
		width:  21px;
		height: 23px;
		background-image: url("../../img/point.png");

	  }
	  .active {
		width:  21px;
		height: 23px;
		background-image: url("../../img/point_active.png");
	  }
	}

	.carousel-inner{
	  position: relative;

	  .item{

		h3.header_carousel{
		  position: absolute;
		  top: 110px;
		  font-size: 30px;
		  line-height: 30px;
		  width: 100%;
		}

	  }
	}
  }

  .content .price {

	.btn_order {
	  padding: 12px 55px;
	  font-size: 21px;
	}
	.delivery {
	  margin-top: 0;
	}
  }

  .content .work {

	h2 {
	  font-size: 30px;
	}

	.work__item_eco {

	  .little_img {
		width: 89px;
		height: 75px;
	  }

	  h5{
		font-size: 19px;
	  }
	}
	.work__item_deliver {

	  .little_img {
		width: 125px;
		height: 75px;
	  }

	  h5{
		font-size: 19px;
	  }
	}
	.work__item_sew {

	  .little_img {
		width: 75px;
		height: 75px;
	  }

	  h5{
		font-size: 19px;
	  }
	}
	.work__item_grt{

	  .little_img {
		width: 55px;
		height: 75px;
	  }

	  h5 {
		font-size: 19px;
	  }
	}

  }

  .content .map {

	h2 {
	  font-size: 30px;
	  padding-bottom: 30px;
	  padding-top: 30px;
	}
  }

  section.work {

	.paddings{
	  padding-left: 0;
	  padding-right: 0;
	  margin-left: 10px;
	  margin-right: -10px;
	}

	.work__block_order {
	  background: url("../../img/work_item_delivery.jpg") no-repeat;
	  -webkit-background-size: cover;
	  background-size: cover;
	  height: 240px;
	  width: 100%;
	}

	.work__block_eco {
	  background: url("../../img/work_item_eko.jpg") no-repeat;
	  -webkit-background-size: cover;
	  background-size: cover;
	  height: 240px;
	  width: 100%;
	}

	.work__block_sew {
	  background: url("../../img/work_item_sew.jpg") no-repeat;
	  -webkit-background-size: cover;
	  background-size: cover;
	  height: 240px;
	  width: 100%;
	}

	.work__block_garant{
	  background: url("../../img/work_item_reclean.jpg") no-repeat;
	  -webkit-background-size: cover;
	  background-size: cover;
	  height: 240px;
	  width: 100%;
	}

	.work__block_text{

	  h4#go, h4#garant{
		margin-left: 10px;
	  }
	  p.eco, p.garant{
		font-family: "PlayRegular", sans-serif;
		margin: 0 0 0 10px;
	  }
	}

	h4#go, h4#garant, h4#order, h4#sew {
	  padding-top: 0;
	  font-family: "PlayRegular", sans-serif;
	  margin-left: 0;
	}

	p {
	  font-family: "PlayRegular", sans-serif;
	  margin: 0 0 0 0;
	  font-size: 12px;
	}

	h3 {
	  font-size: 27px;
	  margin-bottom: 40px;
	}
  }

  section.accordion{

	a.accordion-toggle {
	  font-size: 16px;
	  color: #333;
	}
	.panel-body {
	  font-size: 15px;
	}

	h4 {
	  font-size: 16px;
	}
	.glyphicon {
	  margin-right: 15px;
	  font-size: 16px;
	  color: white;
	  display: block;
	  padding: 10px 12px;
	  background-color: $select-base-color;
	  top: -10px;
	  left: -14px;
	}
	h3{
	  font-size: 27px;
	}

  }

  section.tabs {

	h3{
	  font-size: 27px;
	  margin-bottom: 40px;
	}

  }


}

@media (min-width: 992px) {
  .header {
	height: 620px;

	.navbar-default {

	  .navbar-header {

		.navbar-brand>img {
		  display: block;
		  width: 163px;
		  height: 44px;
		}

		.header-phone {
		  float: right;
		  margin-left: 10px;
		  margin-right: 10px;
		  margin-top: 27px;

		  a {
			font-size: $font-size-menu;
		  }
		}
	  }

	  .navbar-collapse {

		  ul.navbar-nav {
		  	margin-left: -10px;

			li {
			  margin-left: -9px;

			  a {
				font-size: 16px;
			  }
			}
			li.login {
			  margin-left: 10px;
			}

		  }
	  }
	}
	.header-content{
	  padding: 175px 15px;

	  h1 {
		padding-bottom: 60px;
	  }
	  .btn, .btn:visited {
		padding: 12px 38px;
	  }

	}

  }

  .header_new {

	.navbar-default {

	  .navbar-header {

		.navbar-brand>img {
		  display: block;
		  width: 163px;
		  height: 44px;
		}

		.header-phone {
		  float: right;
		  margin-left: 10px;
		  margin-right: 10px;

		  a {
			font-size: $font-size-menu;
		  }
		}
	  }

	  .navbar-collapse {

		ul.navbar-nav {
		  margin-left: -10px;

		  li {
			margin-left: -9px;

			a {
			  font-size: 16px;
			}
		  }
		  li.login {
			margin-left: 10px;
		  }
		}
	  }
	}

  }

  .header_gift {
	height: 700px;

	.navbar {
	  height: 78px;

	  .navbar-header {

		.navbar-brand>img {
		  display: block;
		  width: 163px;
		  height: 44px;
		}

		.header-phone {
		  float: right;
		  margin-left: 10px;
		  margin-right: 10px;

		  a {
			font-size: $font-size-menu;
		  }
		}
	  }

	  .navbar-collapse {

		ul.navbar-nav {
		  margin-left: -10px;

		  li {
			margin-left: -9px;

			a {
			  font-size: 16px;
			}
		  }
		  li.login {
			margin-left: 10px;
		  }
		}
	  }
	}
	h3{
	  color: $select-content-color;
	  text-align: center;
	  margin-top: 45px;
	  margin-bottom: 50px;
	  font-family: "Exo2Medium", sans-serif;
	  font-size: 30px;
	  font-weight: 500;
	  line-height: 36px;
	  text-transform: uppercase;
	}

	p.text_slogan{
	  font-family: "PlayRegular", sans-serif;
	  color: $select-content-color;
	  font-size: $font-size-menu;
	  margin-top: 40px;
	}

  }

  .content .advantages {

	h2 {
	  font-family: "Exo2Medium", sans-serif;
	  color: $select-heading-color;
	  font-size: $font-size-h2;
	  font-weight: 500;
	  line-height: 26px;
	  padding-bottom: 60px;
	  padding-top: 30px;
	  text-align: center;
	  text-transform: uppercase;
	}
	.col-lg-4 {
	  padding-right: 0;
	  padding-left: 0;

	  .advantages__item_order {
		background: url("../../img/item_order.png") no-repeat center center;
		width: $layout-width;
		max-width: 532px;
		height: 322px;
		position: relative;

	  }
	  .advantages__item_go {
		background: url("../../img/item_go.png") no-repeat center center;
		width: $layout-width;
		max-width: 532px;
		height: 322px;
		position: relative;

	  }
	  .advantages__item_delivery {
		background: url("../../img/item_delivery.png") no-repeat center center;
		width: $layout-width;
		max-width: 532px;
		height: 322px;
		position: relative;

	  }
	}

	.btn_wrap {
	  text-align: center;
	  margin-top: 50px;

	  .cost {
		margin-top: 30px;
		margin-bottom: 20px;
	  }
	}

  }

  .content .news{
	padding-top: 10px;
	background-color: #f1f1f1;
	
	h2 {
	  font-family: "Exo2Medium", sans-serif;
	  color: $select-heading-color;
	  font-size: $font-size-h2;
	  font-weight: 500;
	  line-height: 26px;
	  padding-bottom: 50px;
	  padding-top: 30px;
	  text-align: center;
	  text-transform: uppercase;
	}


	.carousel-inner{
	  position: relative;

	  .item{

		h3.header_carousel{
		  position: absolute;
		  top: 135px;
		  font-size: 40px;
		  line-height: 45px;
		  width: 100%;
		}

	  }

	}


  }

  .content .guarantee {
	height: 460px;

	h1 {
	  text-align: right;
	  top: 105px;
	}

  }

  .content .price {

	h2 {
	  font-family: "Exo2Medium", sans-serif;
	  color: $select-heading-color;
	  font-size: $font-size-h2;
	  font-weight: 500;
	  line-height: 26px;
	  padding-bottom: 60px;
	  padding-top: 30px;
	  text-align: center;
	  text-transform: uppercase;
	}

	.price__item a img {
	  width: 100px;
	  height: 156px;
	}

	.price__item a .price__item_h4, .price__item span {
	  font-size: 21px;
	}

	.btn_order {
	  padding: 12px 65px;
	  font-size: 22px;
	}

	.delivery {
	  margin-top: 0;
	}
  }

  .content .work {

	h2 {
	  font-family: "Exo2Medium", sans-serif;
	  color: $select-heading-color;
	  font-size: $font-size-h2;
	  font-weight: 500;
	  line-height: 26px;
	  padding-bottom: 60px;
	  padding-top: 30px;
	  text-align: center;
	  text-transform: uppercase;
	}

  }

  .content .map {

	h2 {
	  font-size: 40px;
	  padding-bottom: 60px;
	  padding-top: 30px;
	}
  }

  section.work {

	h3{
	  font-size: 30px;
	}

	.work__block_text{

	  p{
		font-size: 15px;
	  }
	}

	.work__block_order{
	  background: url("../../img/work_item_delivery.jpg") no-repeat;
	  -webkit-background-size: 100%;
	  background-size: 100%;
	  height: 350px;
	  width: 100%;
	}

	.work__block_eco{
	  background: url("../../img/work_item_eko.jpg") no-repeat;
	  -webkit-background-size: 100%;
	  background-size: 100%;
	  height: 350px;
	  width: 100%;
	}

	.work__block_sew{
	  background: url("../../img/work_item_sew.jpg") no-repeat;
	  -webkit-background-size: 100%;
	  background-size: 100%;
	  height: 450px;
	  width: 100%;
	}

	.work__block_garant{
	  background: url("../../img/work_item_reclean.jpg") no-repeat;
	  -webkit-background-size: 100%;
	  background-size: 100%;
	  height: 350px;
	  width: 100%;
	}

  }

  section.accordion {

	a.accordion-toggle {
	  font-size: 17px;
	  color: #333;
	}
	.panel-body {
	  font-size: 15px;
	}

	h4 {
	  font-size: 17px;
	}
	.glyphicon {
	  margin-right: 15px;
	  font-size: 17px;
	  color: white;
	  display: block;
	  padding: 10px 12px;
	  background-color: $select-base-color;
	  top: -10px;
	  left: -14px;
	}
	h3{
	  font-size: 30px;
	}

  }

  section.tabs {

	h3 {
	  margin-bottom: 30px;
	}

	.nav-tabs>li.active>a, .nav-tabs>li.active>a:hover {
	  color: #555;
	  background-color: #eee;
	  border: transparent;
	  cursor: default;
	  border-radius: 4px 4px 0 0;
	}

	.nav-tabs>li>a {
	  margin-right: 2px;
	  line-height: 1.42857;
	  border: 1px solid transparent;
	  border-radius: 4px 4px 0 0;
	}
	.nav-tabs>li {
	  margin: 0 0 9px 0;
	}

  }


}

@media (min-width: 1200px) {
  .header {
	height: 750px;

	.navbar-default .navbar-collapse ul.navbar-nav {
	  margin-left: 110px;
	}

	.sticky .navbar-default {
	  background-color: #ffffff;
	  opacity: 0.95;
	  filter: alpha(Opacity=95);
	  z-index: 1000;
	  height: 78px;
	}
	.header-content{
	  padding: 255px 15px;

	  h1 {
		padding-bottom: 100px;
	  }
	  .btn {
		padding: 12px 38px;
		font-size: $font-size-h4;
	  }

	}
  }

  .header_new {

	.navbar-default {

	  .navbar-collapse ul.navbar-nav {
		margin-left: 110px;
	  }

	  .navbar-header {

		.header-phone {
		  float: right;
		  margin-left: 10px;
		  margin-right: 10px;
		}
	  }

	}
	.sticky .navbar-default {
	  height: 78px;
	}
  }

  .header_gift {
	height: 850px;

	.navbar {
	  height: 78px;

	  .navbar-collapse ul.navbar-nav {
		margin-left: 110px;
	  }

	  .navbar-header {

		.header-phone {
		  float: right;
		  margin-left: 10px;
		  margin-right: 10px;
		}
	  }
	}
	h3{
	  color: $select-content-color;
	  text-align: center;
	  margin-top: 70px;
	  margin-bottom: 80px;
	  font-family: "Exo2Medium", sans-serif;
	  font-size: $font-size-h3;
	  font-weight: 500;
	  line-height: 36px;
	  text-transform: uppercase;
	}

	p.text_slogan{
	  font-family: "PlayRegular", sans-serif;
	  color: $select-content-color;
	  font-size: $font-size-menu;
	  margin-top: 50px;
	}

  }

  .content .guarantee {

	h1 {
	  font-family: Exo2Medium, sans-serif;
	  color: $select-heading-color;
	  font-weight: 500;
	  text-align: right;
	  text-transform: uppercase;
	  position: absolute;
	  top: 80px;
	}
  }

  .content .advantages {

	.btn_wrap {
	  margin-top: 50px;
	  width:100%;
	  text-align: center;

	  .btn, .btn:visited{
		padding: 12px 38px;
		border: none;
		border-radius: 5px;
		background: $select-base-color;
		outline: none !important;
		cursor: pointer;
		display: inline-block;
		position: relative;
		font-family: Exo2Regular, sans-serif;
		color: $select-content-color;
		font-size: $font-size-h4;
		text-align: center;
		-webkit-transition: 0.75s;
		transition: 0.75s;

		&:hover, &:focus{
		  background: lighten($select-base-color,10%);
		  color: $select-content-color;
		}

		&:active {
		  background: darken($select-base-color,10%);
		}
	  }

	  .cost {
		margin-top: 30px;
		margin-bottom: 20px;
	  }
	}

  }

  .content .price {

	.price__item a img {
	  width: 128px;
	  height: 200px;
	}

	.price__item a .price__item_h4, .price__item span {
	  font-size: 22px;
	}


  }

  .content .news {

	.carousel-inner{
	  position: relative;

	  .item {

		h3.header_carousel{
		  position: absolute;
		  top: 190px;
		  font-size: 40px;
		  line-height: 45px;
		  width: 100%;
		}

	  }

	}
  }

  section.accordion{

	a.accordion-toggle {
	  font-size: 17px;
	  color: #333;
	}
	.panel-body {
	  font-size: 15px;
	}

	h4 {
	  font-size: 17px;
	}
	.glyphicon {
		margin-right: 15px;
		font-size: 17px;
		color: white;
		display: block;
		padding: 10px 12px;
		background-color: $select-base-color;
		top: -10px;
		left: -14px;
	}

  }

}

