// layout
$layout-min-width: 480px;
$layout-max-width: 1600px;
$layout-width: 100%;
$header-min-height: 750px;

$footer-height: 100px;

  // colors
$select-text-color: rgb(73, 74, 95);
$select-heading-color: rgb(52, 53, 65);
$select-menu-color: rgb(104, 35, 131);
$select-base-color: rgb(38, 80, 182);
$select-slider-color: rgb(55, 150, 211);
$select-content-color: rgb(255, 255, 255);
$select-slide-color: rgb(241, 241, 241);


  // fonts-size
$font-size-h1: 50px;
$font-size-h2: 40px;
$font-size-h3: 30px;
$font-size-h4: 22px;
$font-size-h5: 20px;
$font-size-menu: 17px;
$font-size-base: 19px;
$font-size-small: 13px;
$font-size-other: 15px;
